.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 70px;
    background-color: #eceff3;
    min-height: 92vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: auto;
    padding: 50px;
    width: 900px;
    border-radius: 50px;
}

.title{
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #444;
}

.sendButton {
    border-radius: 40px !important;
    background: #4a509e !important;
    border: none !important;
    border-bottom: 4px solid #2f3478 !important;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 25px !important;
    width: 200px;
    height: 50px;
}

.form_inner {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid #2f3478;
}
.form_inner input, .form_inner textarea {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-size: 20px;
}

.size {
    display: flex;
    color: grey;
    text-decoration: none;
    height: 40px;
    width: 800px;
    font-size: 20px;
    background-color: #E9EFF6;
    border-radius: 20px;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.size:after  {
    font-size: 40px;
    content:" \203A";
    transform: rotate(90deg);
}

.size_dropdown{
    width: 700px;
    border-radius: 15px;
}

.list_item{
    padding: 0 !important;
    font-size: 20px !important;
}

.list_item:active{
    color: red;
}