.background {
    background: rgba(0, 0, 0, 0.6)
                url("D:/Учёба/7сем/аис/проект5/Warehouse/client2/src/images/background.jpg") no-repeat center;
    background-blend-mode: darken;
    background-size: cover;
    width: 100vw;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    min-height: 380px;
    background-color: white;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 30px;
}

ul.nav {
    background: #2f3478;
    width: 292px;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding-left: 0;
}
ul.nav li {
    color: white;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 25px;
    width: auto;
    padding: 0.5rem 1.5rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
ul.nav li:hover {
    background: #4a509e;
}

.outlet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}