header {
    display: inline-block; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
      background: #2f3478;
  }
  

  
  header a {
    font-family:  'PT Serif', serif;
    /* margin-right: 20px; */
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
  }
  
  header a.logo {
    font-size: 25px;
  }
  
  header a:hover {
    color: #a8a193;
  }
  
  header a.active {
    color: #a8a193;
  }
  a:visited {
    color: #eceff3;
  }
  
body{
    background-color: #eceff3;
}  
.headerhome {
  margin-left: 850px;
  display: flex; 
  float: right;
  }


  .decor {
    position: relative;
    max-width: 700px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
 }
 .form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #2f3478;
    border-radius: 20px;
 }
 .form-left-decoration {
    bottom: 60px;
    left: -30px;
 }
 .form-right-decoration {
    top: 60px;
    right: -30px;
 }
 .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
 }
 .form-left-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-left-decoration:after {
    top: 20px;
    left: 10px;
 }
 .form-right-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-right-decoration:after {
    top: 20px;
    right: 10px;
 }
 .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
 }
 .form-inner {
    padding: 50px;
 }
 .form-inner label {
  font-family: "Trirong", serif;
}
 .form-inner input, .form-inner textarea {
    display: block;
    height: 40px;
    width: 93%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: "Trirong", serif;
  }

 .form-inner button[type="submit"] {
   position:absolute; /* добавили */
	bottom:0;
  cursor: pointer;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
    /* display: inline-block; */
    width: 40%;
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
   margin-left:350px;
    margin-top: 30px;
    background: #4a509e;
    border-bottom: 4px solid #2f3478;
    color: white;
    font-size: 14px;

 }

 .addmore {
   position:absolute; /* добавили */
	bottom:0;
  cursor: pointer;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
    /* display: inline-block; */
    width: 7%;
    margin-bottom: 10px;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
   margin-left:50px;
    margin-top: 30px;
    background: #4a509e;
    border-bottom: 4px solid #2f3478;
    color: white;
    font-size: 18px;
 }



 .form-inner textarea {
    resize: none;
 }
 .form-inner h3 {
  border-bottom:2px solid #2f3478;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #444;
 }


 /* .abc {
   width: 80%;
   height: 200px; 

   margin: auto;
   display: grid;
   grid-template-columns: repeat(10, [col-start] 1fr);
   grid-template-rows: repeat(8, [row-start] 1fr);
   padding-top: 3.4em;
   padding-bottom: 3.4em;
 }
 .img {
   grid-column: col-start / span 8;
   grid-row: row-start / span 6;
   background-size: cover;
   max-width: 1074px;
   background-color: #ee0;
 }
 .content {
   grid-column: col-start 6 / span 6;
   grid-row: row-start 2 / span 6;
   background: #fff;
   min-height: 100px;
   border: 1px solid blue;
   padding: 3em;
 } */

/* 
 article {
   max-width: 800px;
   max-height: 300px;
   overflow-y: hidden;

   /*Transition time is increased to accomodate the height 
   transition: max-height 0.7s linear;
}

article.expanded {
   max-height: 1500px;
}

button {
   height: 41px;
   padding: 0 2rem;
} */

